---
---
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

@import "cover";

@mixin transform($rotation) {
  transform: rotate($rotation);
  -webkit-transform: rotate($rotation);
  -moz-transform: rotate($rotation);
  -o-transform: rotate($rotation);
  -ms-transform: rotate($rotation);
}

.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include transform(-4deg);
  @media (min-width: 40em) {
    font-size: 5rem;
  }
}

.location {
  text-transform: uppercase;
}

.curators {
  color: rgba(255,255,255,.5);
}
