---
---
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Slabo+27px');

@import "cover";

@mixin transform($rotation) {
  transform: rotate($rotation);
  -webkit-transform: rotate($rotation);
  -moz-transform: rotate($rotation);
  -o-transform: rotate($rotation);
  -ms-transform: rotate($rotation);
}

p {
  line-height: 1.6;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0);
}

.bar {
  width: 50%;
  border-top: 1px solid #555;
}

.divider {
  width: 80%;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  @include transform(-4deg);
  @media (min-width: 40em) {
    font-size: 5rem;
  }
}

.subtitle {
  font-family: 'Slabo 27px';
  font-size: 1.5rem;
  color: #28a745;
}

.lead {
  color: #1B95E0;
  text-shadow: 0 0.05rem 0 rgba(255, 255, 255, 1);
}

.card-title, .card-text, .card-list, .card a {
  color: #111;
}

.card-text, .card-list {
  text-align: left;
}

.card a {
  border-bottom: 1px dashed;
}

.card a:hover {
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid;
}

.tickets a {
  color: #fff;
  border-bottom: none;
}

.tickets a:hover {
  color: #fff;
  border-bottom: none;
}

.curators {
  color: rgba(255,255,255,.5);
}

.list-group-item:first-child {
  background-color: #fff;
  color: #333;
}

.list-group-item {
  background-color: #333;
}
